[Unit]
Description=auth-jwt-symmetric-demo

[Service]
WorkingDirectory=/home/ermal/projects/auth-jwt-symmetric-demo/
ExecStart=/usr/bin/java -Xms1G -Xmx4G -XX:+HeapDumpOnOutOfMemoryError -jar auth-jwt-symmetric-demo-0.0.1-SNAPSHOT.jar
User=ermal
Type=simple
StandardOutput=null
StandardError=null
Restart=always
RestartSec=15
TimeoutSec=30

[Install]
WantedBy=multi-user.target